.btn-reset {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

.btn {
  --padding-default: 0.5rem 1rem;
  --background-color-default: transparent;
  --background-color-filled: var(--color-gray-200);
  --color-default: var(--color-gray-800);
  --shadow-elevated: 0 1px 3px rgba(0, 0, 0, 0.2);
  --border-default: 1px solid var(--background-color-default);
  --border-outlined: 1px solid var(--color-gray-300);

  padding: var(--padding-default);
  background-color: var(--background-color-default);
  border: var(--border-default);
  color: var(--color-default);

  &.filled {
    --background-color-default: var(--background-color-filled);
    color: var(--color-default);

    &:hover {
      --background-color-default: var(--color-gray-300);
    }
  }

  &.small {
    font-size: var(--text-sm);
  }

  &.medium {
    font-size: var(--text-base);
  }

  &.large {
    font-size: var(--text-lg);
  }

  &.round {
    border-radius: 9999px;
  }

  &.square {
    border-radius: 4px;
  }

  &.elevated {
    box-shadow: var(--shadow-elevated);
  }

  &.tonal {
    --background-color-default: var(--color-gray-100);
    color: var(--color-gray-800);

    &:hover {
      --background-color-default: var(--color-gray-200);
    }
  }

  &.outlined {
    border: var(--border-outlined);
  }

  &.text {
    --background-color-default: transparent;
    color: var(--color-gray-800);
  }

}

.btn.toggle {
  &.selected {
    --background-color-default: var(--color-blue-500);
  }
}

.split {
  display: inline-flex;
  align-items: stretch;
  gap: 0.25rem;
  /* background-color: transparent;
  padding: 0;
  border: 2px solid black; */

  & > :first-child {
    @apply rounded-r-none;
  }

  & > :last-child {
    @apply rounded-l-none;
  }
}