@import "tailwindcss";

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a, button {
    cursor: pointer;
}

:root {
  --font-inter: 'Inter Variable';
  --font-zalando-sans-semiexpanded: 'Zalando Sans SemiExpanded Variable';

  /* Colors */
  --stripe-color-primary: #0070f3;
  --stripe-color-secondary: #1c1c1e;
  --stripe-color-background: #ffffff;
  --stripe-color-text: #333333;

  /* Fonts */
  --font-sans: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --stripe-font-sans: var(--font-sans);
  --stripe-font-size: 100%;
  --depop-font-sans: var(--font-zalando-sans-semiexpanded), var(--font-sans);
}